@import "./dimensions";
@import "../../utils/colors";

.wbs-header {
  width: 100%;
  height: $header-height;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid $cgray-1;
  z-index: 99;

  &__content {
    max-width: 1024px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
  }

  &__nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    &__item {
      color: black;
      transition: color 0.3s;
      text-decoration: none;
      font-weight: 100;

      &:hover {
        text-decoration: underline;
      }

      &--selected {
        font-weight: 600;
      }
    }
  }
}
