@import "../../utils/colors";

$car-config-width: 600px;
$car-config-expander-width: 30px;

.wbs-car-configuration-menu {
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  /* border-left: 1px solid $cgray-1; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px; */
  width: 5px;
  height: 100%;
  transition: width 0.5s;

  &--expanded {
    width: $car-config-width;
  }

  &__extender-button {
    position: absolute;
    left: calc(-#{$car-config-expander-width});
    top: 100px;
    height: 75px;
    width: $car-config-expander-width;
    background-color: white;
    border: 1px solid $cgray-1;
    z-index: 10;
    border-right: 1px solid lighten($color: $cgray-1, $amount: 15%);
    cursor: pointer;

    &:hover {
      border-color: $blue-a0;
    }
  }

  &__backdrop-bar {
    position: absolute;
    left: calc(-#{$car-config-expander-width});
    width: $car-config-expander-width;
    z-index: 8;
    backdrop-filter: blur(5px);
    /* border-left: 1px solid lighten($color: $cgray-1, $amount: 15%); */
    bottom: 0;
    top: 0;
  }
}
