@import "../../components/footer/dimensions";
@import "../../components/header/dimensions";

.wsb-app-container {
  background-color: purple;
}

.wsb-page-wrapper {
  width: 100%;
  overflow: hidden;
  /* overflow-y: auto; */
}

.wsb-page {
  width: 100%;
  background-color: whitesmoke;
  min-height: calc(100vh - $footer-height - $header-height);
}
