html {
  font-family: Segoe UI, SegoeUI, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(172, 127, 255);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.m-t-s{
  margin-top: 0.3rem;
}

.m-t-m{
  margin-top: 0.5rem;
}

.m-t-l{
  margin-top: 1rem;
}

.m-b-s{
  margin-bottom: 0.3rem;
}

.m-b-m{
  margin-bottom: 0.5rem;
}

.m-b-l{
  margin-bottom: 1rem;
}
